<div class="col-md-12">
    <table class="table table-hover">
      <tbody>
      <tr>
        <label>There are {{noDups.length}} stations </label>
      </tr>
      <tr>
        Select starting station

        <select name="'station" (change)="station($event)">
          <option *ngFor="let value of noDups">{{value}}</option>
        </select>
      </tr>

      <tr>
        Enter count for search <input type="number" id="myNumber" value="1" min="1" max="10" step="1" (change)="setPathLen($event)">
      </tr>
      <tr>
        <button class="btn btn-primary" (click)="search()">Search</button>
      </tr>
      <tr>
        {{SearchCriteria}}
      </tr>
      <tr *ngIf = "displayResults">
        <ul *ngFor="let path of Results">
          <li>{{path}}</li>
        </ul>
      </tr>
      </tbody>
    </table>
</div>


